[class*="col-"] {
  /* border: 2px solid blue; */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.padding_top_80 {
  padding-top: 80px;
}

.header_background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2C3E50;
  height: 80px;
  line-height: 80px;
  z-index: 10;
}

.header_logo {
  /* width: 50%; */
  /* background-color: yellow; */
  height: 80px;
  /* border: 1px solid blue; */
  /* padding-top: 50px; */
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

.header_nav_right {
  /* width:50%; */
  /* background-color: lightblue; */
  height: 80px;
  text-align: right;
  /* border: 1px solid blue; */
  /* padding-top: 50px; */
}

.link_menu {
  padding-left: 20px;
  text-transform: uppercase;
  color: white;
}

.btn_green {
  color: white;
  background-color: #1ABC9C;
  text-transform: uppercase;
}

.btn_green:hover {
  color: white;
}

.jumbo_background {
  background-color: #1ABC9C;
}

.avatar_img {
  width: 15%;
  padding-bottom: 20px;
}

.line_divider {
  width: 15%;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.jumbo_background p {
  font-size: 1.3em;
  color: white;
  padding-top: 20px;
}

.property_star {
  font-size: 30px;
  color: white;
  padding: 10px;
  vertical-align: middle;
}

.height_box {
  background-color: #1ABC9C;
  text-align: center;
  padding: 50px 0px;
  margin-top: 80px;
}

h2 {
  text-align: center;
}

.portfolio {
  text-align: center;
}

.box_section {
  background-color: lightblue;
  height: 200px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.about_background {
  background-color: yellow;
  height: 400px;
}

.information_box {
  background-color: green;
  height: 200px;
  text-align: left;
  /* margin: 0 25%; */
  margin-bottom: 20px;
}

.contact_box {
  background-color: purple;
  height: 300px;
  text-align: center;
  padding: 100px;
}

.footer_background {
  background-color: grey;
  height 300px;
}
.credits {
  background-color: pink;
  height: 150px;
  margin-top: 10px;

}



@media screen and (max-width: 992px) {
  .header_logo {
    font-size: 1.5em;
  }

  .jumbo_background p {
    font-size: 1.0em;
  }

  h1 {
    font-size: 2.5em;
  }

}
@media screen and (max-width: 768px) {
  .header_logo {
    font-size: 1.0em;
  }

  .jumbo_background p {
    font-size: 0.8em;
  }

  h1 {
    font-size: 2.0em;
  }
}
