[class*="col-"] {
  /* border: 2px solid blue; */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.padding_top_80 {
  padding-top: 80px;
}

.header_background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2C3E50;
  height: 80px;
  line-height: 80px;
  z-index: 10;
}

.header_logo {
  /* width: 50%; */
  /* background-color: yellow; */
  height: 80px;
  /* border: 1px solid blue; */
  /* padding-top: 50px; */
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

.header_nav_right {
  /* width:50%; */
  /* background-color: lightblue; */
  height: 80px;
  text-align: right;
  /* border: 1px solid blue; */
  /* padding-top: 50px; */
}

.link_menu {
  padding-left: 20px;
  text-transform: uppercase;
  color: white;
}

.btn_green {
  color: white;
  background-color: #1ABC9C;
  text-transform: uppercase;
}

.btn_green:hover {
  color: white;
}

.jumbo_background {
  background-color: orange;
}

.avatar_img {
  width: 15%;
}

.line_divider {
  width: 15%;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
}


.height_box {
  height: 600px;
  background-color: red;
  text-align: center;
  padding: 50px 0px;
  margin-top: 80px;
}

h2 {
  text-align: center;
}

.portfolio {
  text-align: center;
}

.box_section {
  background-color: lightblue;
  height: 200px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.about_background {
  background-color: yellow;
  height: 400px;
}

.information_box {
  background-color: green;
  height: 200px;
  text-align: left;
  /* margin: 0 25%; */
  margin-bottom: 20px;
}

.contact_box {
  background-color: purple;
  height: 300px;
  text-align: center;
  padding: 100px;
}

.footer_background {
  background-color: grey;
  height 300px;
}
.credits {
  background-color: pink;
  height: 150px;
  margin-top: 10px;

}



@media screen and (max-width: 992px) {
  .header_logo {
    font-size: 1.5em;
  }

}
@media screen and (max-width: 768px) {
  .header_logo {
    font-size: 1.0em;
  }
}
