[class*="col-"] {
  /* border: 2px solid blue; */
}

.header_background {
  background-color: lightgreen;
  height: 150px;
}

.header_logo {
  width: 25%;
  background-color: yellow;
  height: 150px;
  border: 1px solid blue;
  padding-top: 50px;
}

.header_nav_right {
  width:75%;
  background-color: lightblue;
  height: 150px;
  text-align: right;
  border: 1px solid blue;
  padding-top: 50px;
}

.jumbo_background {
  background-color: orange;
}

.height_box {
  height: 300px;
  background-color: red;
  text-align: center;
  padding: 125px 60px;
}

h2 {
  text-align: center;
}

.portfolio {
  text-align: center;
}

.box_section {
  background-color: lightblue;
  height: 200px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.about_background {
  background-color: yellow;
  height: 400px;
}

.information_box {
  background-color: green;
  height: 200px;
  text-align: left;
  /* margin: 0 25%; */
  margin-bottom: 20px;
}

.contact_box {
  background-color: purple;
  height: 300px;
  text-align: center;
  padding: 100px;
}
